.home .nd_options_section > h5 {
	display: none;
}

.home .nd_options_section > img {
    width: 340px;
}

.home .nd_options_text_transform_uppercase > strong {
	display: none;
}

.home .vc_row-flex .vc_column_container {
	height: 100%
}

.home .vc_row-flex .vc_column_container .vc_column-inner {
	height: 100%
}